header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("./header-image.jpg");
  background-size: cover;
}

/* NAV SECTION */

nav {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 7;
  display: flex;
  width: 100vw;
  justify-content: space-around;
  height: 8vh;
  align-items: center;
  transition: all 500ms ease;
}

nav h1 {
  color: wheat;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
}

/*nav ul li {
  margin: 0 20px;
}*/

nav ul a {
  text-decoration: none;
  color: wheat;
  transition: all 250ms ease;
  margin: 0 20px;
  display: inline-block;
}

nav ul li a:hover {
  color: white;
  transition: all 250ms ease;
}

nav .burger {
  display: none;
}

/* HEADER SECTION */

.header-container {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

.header-container h1 {
  font-size: 8rem;
  line-height: 120px;
  color: wheat;
  margin-bottom: 20px;
}

.header-container p {
  width: 800px;
  font-size: 1.3rem;
  color: wheat;
}

.header-container a {
  display: inline-block;
  text-decoration: none;
  color: wheat;
  background: black;
  padding: 1.3rem 3rem;
  margin-top: 20px;
}

.header-container a:hover {
  background: wheat;
  color: black;
}

/* ADDED CLASSLISTS SECTION */

.show-nav {
  transform: translateX(0);
  transition: all 500ms ease;
}

.toggle .line1 {
  transform: rotate(45deg) translate(5px, 6px);
  transition: all 500ms ease;
}

.toggle .line2 {
  opacity: 0;
  transition: all 500ms ease;
}

.toggle .line3 {
  transform: rotate(-45deg) translate(5px, -6px);
  transition: all 500ms ease;
}

.scrolled-nav {
  position: fixed;
  height: 10vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.92);
  z-index: 6;
  transition: all 500ms ease;
}

.scrolled-nav ul {
  top: 10vh;
}

/* ABOUT SECTION (FIRST ONE) */

#about {
  width: 100vw;
  background: rgb(17, 17, 17);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  color: wheat;
}

.image-container {
  background: url("./about-image.jpg") no-repeat 50% 20%;
  background-size: cover;
  height: 800px;
}

#about .text-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#about .text-container h1 {
  font-size: 3.5rem;
  padding-top: 10%;
}

#about .text-container p {
  font-size: 1.3rem;
  width: 80%;
  margin-top: 30px;
}

#about .text-container a {
  display: inline-block;
  text-decoration: none;
  color: black;
  background: wheat;
  padding: 1.3rem 3rem;
  margin-top: 20px;
  transition: all 300ms ease;
  width: 200px;
}

#about .text-container a:hover {
  background: black;
  color: wheat;
  transition: all 300ms ease;
}

/* SHOP SECTION (SECOND) */

#shop {
  background: wheat;
  width: 100vw;
  padding-bottom: 100px;
}

#shop h1 {
  text-align: center;
  font-size: 3rem;
  padding: 50px 0;
}

#shop #cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 100px;
  width: 70vw;
  margin: 0 auto;
}

#shop #cards .image-container {
  width: 100%;
  height: 300px;
}

#shop #cards img {
  width: 100%;
  height: 300px;
}

#shop #cards {
  text-align: center;
}

#shop #cards .card {
  box-shadow: 1px 1px 38px rgba(0, 0, 0, 0.07);
  border-radius: 40px;
}

#shop #cards .card .text-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 100px 50px;
  padding: 1rem 2rem 2rem 2rem;
}

#shop #cards .card .text-container p {
  margin: 10px 0;
}

#shop #cards .card .text-container a {
  display: inline-block;
  text-decoration: none;
  color: wheat;
  background: black;
  padding: 0.8rem 1.6rem;
  width: 150px;
  margin: 0 auto;
}

#shop #cards .card .text-container a:hover {
  background: rgb(20, 20, 20);
}

/* CAROUSEL SECTION */

#carousel {
  padding: 100px 0 100px 0;
  width: 100vw;
  background: wheat;
  position: relative;
}

#carousel h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 100px;
}

#carousel .slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 38px rgba(0, 0, 0, 0.07);
  width: 450px;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 40px;
  text-align: center;
}

#carousel .slide img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#carousel .slide p {
  font-size: 1.1rem;
  margin-top: 10px;
}

#carousel .slides {
  position: relative;
  height: 500px;
}

#carousel i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.3rem;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

#carousel .fa-arrow-left {
  left: 27%;
}

#carousel .fa-arrow-right {
  background: black;
  color: wheat;
  right: 27%;
}

/* FOOTER SECTION FROM HERE */

footer {
  width: 100vw;
  color: wheat;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 5vw;
}

footer .left-side-container h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

footer ul {
  font-size: 1.3rem;
  font-weight: 500;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer ul a {
  text-decoration: none;
  color: wheat;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 250ms ease;
  display: inline-block;
  margin: 2px 0;
}

footer ul li a:hover {
  color: white;
  transition: all 250ms ease;
}

footer .right-side-container {
  display: flex;
  flex-direction: column;
}

footer .right-side-container form {
  margin: 25px 0 5px 0;
  position: relative;
}

footer .right-side-container form input {
  background: white;
  min-width: 250px;
  border: none;
  outline: none;
  padding: 0.8rem 0.5rem;
}

footer .right-side-container form button {
  border: none;
  outline: none;
  padding: 0.8rem 0.5rem;
  min-width: 200px;
  background: rgb(255, 166, 0);
  font-weight: 500;
  cursor: pointer;
}

footer .right-side-container .social-container i {
  font-size: 1.8rem;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

footer .right-side-container .social-container i:hover {
  color: wheat;
}

footer .right-side-container .social-container .fa-facebook {
  margin-left: 15px;
}

footer .right-side-container p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  left: 0.5rem;
  pointer-events: none;
  transition: all 500ms ease;
}

footer .right-side-container .change-on-focus {
  top: -23px;
  transform: translateY(0);
  color: wheat;
  transition: all 500ms ease;
  font-size: 0.9rem;
}

/* < Link> */

.link {
  text-decoration: none;
}

/* < /Link> */

#about-page {
  width: 100vw;
  min-height: 100vh;
  background: black;
  padding: 0 5vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#about-page .background-container {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100vw;
  height: 100%;
  filter: blur(5px);
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.82),
      rgba(0, 0, 0, 0.73)
    ),
    url("./fourth.jpg") no-repeat center;
  background-size: cover;
}

#about-page .image-container {
  position: relative;
  width: 40%;
  height: 500px;
  background: url("./first.jpg") no-repeat center;
  background-size: cover;
  z-index: 5;
}

#about-page .text-container {
  z-index: 3;
  color: wheat;
  max-width: 55%;
  text-align: right;
}

#about-page .text-container h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

#about-page .text-container p {
  font-size: 1.1rem;
  line-height: 28px;
}

#about-section {
  background: black;
  color: wheat;
  padding: 150px 25vw;
  border-bottom: 2px solid wheat;
  width: 100vw;
}

#about-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

#about-section p {
  font-size: 1.1rem;
  line-height: 30px;
}

#about-section .images-container {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

#about-section .images-container img {
  width: 100%;
  height: 400px;
  cursor: pointer;
}

#about-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;
  opacity: 0;
  pointer-events: none;
  transition: all 500ms ease;
}

#about-modal.show {
  opacity: 1;
  pointer-events: all;
  transition: all 500ms ease;
}

#about-modal img {
  position: absolute;
  z-index: 8;
  width: 60vw;
  max-height: 80vh;
}

/* CONTACT SECTION FROM HERE */

#contact {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: black;
  color: wheat;
  padding: 0 10vw;
  border-bottom: 2px solid wheat;
}

#contact > h1 {
  text-align: center;
  padding-top: 20vh;
  font-size: 4.5rem;
  padding-bottom: 30px;
  border-bottom: 1px solid wheat;
  margin-bottom: 20px;
}

#contact > h2 {
  text-align: center;
  font-size: 2rem;
}

#contact > p {
  text-align: center;
  font-size: 1.3rem;
}

.contact-container {
  position: relative;
  top: 5vh;
  left: 0;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#contact form input,
#contact form textarea {
  margin: 15px 0;
  padding: 1rem;
}

#contact form input {
  height: 50px;
}

#contact form #name {
  margin-top: 0;
}

#contact form button {
  width: 200px;
  background: wheat;
  color: black;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 250ms ease;
}

#contact form button:hover {
  background: white;
  transition: all 250ms ease;
}

.contact-right-side {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 50%;
}

.contact-text-container {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid wheat;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.items-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.items-container i {
  margin-right: 40%;
  font-size: 2.5rem;
}

.items-container p {
  font-size: 1.3rem;
  text-align: center;
}

.items-container h2 {
  text-align: center;
}

.contact-social-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icons a {
  margin: 0 10px;
  font-size: 1.8rem;
  color: wheat;
  text-decoration: none;
  transition: all 250ms ease;
}

.contact-icons a:hover {
  color: white;
  transition: all 250ms ease;
}

.contact-social-container > a {
  margin-top: 10px;
  text-decoration: none;
  color: wheat;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 250ms ease;
}

.contact-social-container > a:hover {
  color: white;
  transition: all 250ms ease;
}

/* PRODUCTS PAGE */

.fa-shopping-bag {
  cursor: pointer;
  font-size: 2.5rem;
  position: fixed;
  top: 5vh;
  right: 5vw;
  transform: translate(50%, -50%);
  z-index: 10;
}

#products {
  background: #000000;
  color: white;
  min-height: 100vh;
  position: relative;
  border-bottom: 2px solid wheat;
}

#products h1 {
  text-align: center;
  padding-top: 200px;
  font-size: 3rem;
}

.products-container {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 150px;
  padding: 100px 0;
}

.products-container .product {
  width: 100%;
}

.product img {
  width: 100%;
  height: 300px;
}

.product h2 {
  text-align: center;
  margin-top: 10px;
}

.product p {
  text-align: center;
  margin: 20px 0;
  font-size: 1.3rem;
}

.product button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  text-decoration: none;
  color: wheat;
  background: transparent;
  border: 2px solid wheat;
  padding: 1rem 2rem;
  cursor: pointer;
}

.product button:hover {
  background: wheat;
  color: #000000;
}

.product button i {
  font-size: 1.1rem;
  margin-left: 10px;
}

.shopping-bag-container {
  position: absolute;
  background: wheat;
  font-size: 1rem;
  padding: 2rem;
  color: #000000;
  right: 0;
  top: 110%;
  width: 300px;
  min-height: 300px;
  font-weight: 400;
  cursor: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-bag-container span {
  font-weight: 600;
}

.shopping-bag-container p:last-of-type {
  margin: 10px 0;
}

.shopping-bag-container a {
  text-decoration: none;
  display: inline-block;
  padding: 1.1rem 2rem;
  background: black;
  width: fit-content;
  color: wheat;
}

.shopping-bag-container > span {
  text-decoration: underline;
  color: red;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
}

.shopping-bag-container a:hover {
  background: rgba(0, 0, 0, 0.82);
}

/* RESPONSIVE FROM HERE */

@media only screen and (max-width: 1324px) {
  #about-page {
    flex-direction: column;
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
}

@media only screen and (max-width: 1024px) {
  #products .products-container {
    grid-template-columns: 1fr 1fr;
  }

  .contact-container {
    min-height: 1000px;
    height: fit-content;
    justify-content: center;
  }

  .contact-container {
    position: relative;
    flex-direction: column;
  }

  #contact .contact-container form {
    width: 80%;
    margin-bottom: 50px;
  }

  .contact-container .contact-right-side {
    padding-bottom: 50px !important;
  }

  #about-page {
    flex-direction: column;
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

  #about-page .image-container {
    height: 300px;
  }

  #about-page .text-container {
    width: 70vw;
    margin: 0 auto;
    text-align: left;
  }

  #about-page .text-container h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 50px;
  }

  #about-page .text-container p {
    line-height: 28px;
  }

  #about-section {
    padding: 20vh 10vw;
  }

  #about-section h2 {
    font-size: 2rem;
  }

  header {
    background-position: 90% 0%;
  }

  .header-container h1 {
    font-size: 5rem;
  }

  .header-container p {
    width: 500px;
    font-size: 1.1rem;
    line-height: 28px;
  }

  #about {
    grid-template-columns: 1fr;
  }

  #about .text-container {
    order: 1;
  }

  #about .image-container {
    order: 2;
  }
  #about .text-container h1 {
    font-size: 3rem;
    line-height: 50px;
  }

  #about .text-container p {
    font-size: 1.1rem;
    margin: 20px 0;
  }

  #about .image-container {
    height: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .fa-shopping-bag {
    top: 3vh;
    font-size: 2rem;
  }

  #products h1 {
    font-size: 2.5rem;
  }

  #products .products-container {
    grid-template-columns: 1fr;
  }

  .items-container i {
    margin-right: 10%;
    font-size: 2rem;
  }

  .contact-social-container a {
    text-align: center;
  }

  .items-container h2 {
    font-size: 1.3rem;
  }

  .items-container p {
    font-size: 1rem;
  }

  #about-page .image-container {
    width: 80vw;
  }

  #about-page .text-container {
    width: 80vw;
  }

  #about-page .text-container h1 {
    font-size: 1.8rem;
  }

  #about-section h2 {
    font-size: 1.8rem;
  }

  #about-section .images-container {
    grid-template-columns: 1fr;
  }

  #about-section .images-container img {
    height: 300px;
  }

  #carousel i {
    top: auto;
    bottom: -50px;
    transform: translateY(0);
  }

  footer {
    display: grid;
    padding-left: 15vw;
    padding-right: 15vw;
    grid-template-areas:
      "left nav"
      "right right";
  }

  footer .left-side-container {
    grid-area: left;
  }

  footer ul {
    grid-area: nav;
  }

  footer .right-side-container {
    margin-top: 30px;
    grid-area: right;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .fa-shopping-bag {
    top: 4.5vh;
    right: 10vw;
    z-index: 100;
  }

  #contact > h1 {
    padding-top: 10vh;
  }

  .contact-container {
    top: 0;
  }

  .contact-container {
    min-height: 1100px;
  }

  .contact-right-side {
    width: 100%;
  }

  .contact-text-container {
    width: 100%;
  }

  .contact-right-side .items-container h2 {
    font-size: 1rem;
  }

  .contact-right-side .items-container i {
    margin-right: 40%;
  }

  nav ul {
    position: absolute;
    width: 100vw;
    height: 92vh;
    top: 8vh;
    right: 0;
    background: rgba(0, 0, 0, 0.92);
    z-index: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 500ms ease;
  }

  /*nav ul li {
    margin: 30px 0;
  }*/

  nav ul a {
    font-size: 2rem;
    margin: 30px 0;
    display: inline-block;
  }

  nav .burger {
    display: block;
    cursor: pointer;
  }

  .burger div {
    margin: 5px 0;
    background: wheat;
    border-radius: 20px;
    width: 30px;
    height: 3px;
    transition: all 500ms ease;
  }

  .header-container {
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -70%);
  }

  .header-container h1 {
    font-size: 3.5rem;
    text-align: center;
    line-height: 40px;
  }

  .header-container p {
    width: 350px;
    font-size: 1.1rem;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
  }

  .header-container a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 200px;
    background: wheat;
    color: black;
  }

  #shop h1 {
    font-size: 2rem;
    width: 70vw;
    margin: 0 auto;
  }

  #shop #cards {
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 80vw;
  }

  #shop #cards .card .text-container p {
    margin: 0px 0;
  }

  #carousel .slides .slide {
    width: 350px;
    padding: 2rem;
  }

  #carousel .slides .slide p {
    font-size: 0.9rem;
  }

  #carousel h1 {
    font-size: 2.5rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  #carousel i {
    top: auto;
    bottom: -20px;
    transform: translateY(0);
  }

  footer {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  footer form {
    display: flex;
    flex-direction: column;
  }

  footer .right-side-container p {
    top: 25%;
  }

  footer form input {
    width: 100%;
  }

  footer form button {
    width: 100%;
  }

  #about-page .text-container {
    max-width: 80%;
  }
}
